---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | Weihang Jiang">
  <main class="mx-auto max-w-5xl px-6 py-20 text-lg">
    <h1 class="text-4xl font-bold tracking-tight">About</h1>
    
    <section class="mt-10 space-y-6 text-neutral-300 leading-relaxed text-xl">  
    <p>
      I am a technology consultant with a background in software engineering and artificial intelligence.
      I am particularly interested in building scalable systems and applying technology to solve real-world problems.
    </p>

    <p>
      My academic experience includes research on EEG-based decoding of color representation in the visual system.
      which reflects my broader interest in human perception and data-driven understanding of complex systems.
    </p>

    <p>
      Having studied in both China and Japan, I bring an international perspective and enjoy working in cross-cultural environments.
      I am especially interested in bridging technology and business n global environments.
    </p>
    </section>
    
    <section class="mt-20">
      <h2 class="text-4xl font-bold text-neutral-100">Position</h2>
      <div class="space-y-8 text-neutral-300 max-w-[1000px] mx-auto">
        <div class="flex items-center justify-start gap-30">
          <div class="w-[520px] text-center">
            <h3 class="text-neutral-100 text-2xl font-semibold mx-auto flex text-left">
              2026 - present
            </h3>
            <h3 class="text-neutral-100 text-3xl font-semibold mx-auto mt-5">
              Accenture Japan
            </h3>
            <p class="text-neutral-400 text-xl font-semibold mt-2">
              Technology Group Intelligence Engineering Services Analyst
            </p>
          </div>
          <div class="w-[240px] flex justify-center">
            <img 
              src="/logos/acc.png" 
              alt="Accenture" 
              class="w-80 h-45 object-contain flex-shrink-0 bg-white p-3 rounded-lg shadow-sm mt-5"
            />
          </div>
        </div>
      </div>
    </section>
    
    <section class="mt-20">
      <h2 class="text-4xl font-bold text-neutral-100">Education</h2>
      <div class="space-y-8 text-neutral-300 max-w-[1000px] mx-auto">
        <!-- Tokyo Tech -->
        <div class="flex items-center justify-start gap-30">
          <div class="w-[520px] text-center">
            <h3 class="text-neutral-100 text-2xl font-semibold mx-auto flex text-left">
              2023 - 2025
            </h3>
            <h3 class="text-neutral-100 text-3xl font-semibold mx-auto mt-5">
              Institute of Science Tokyo
            </h3>
            <h3 class="text-neutral-100 text-3xl font-semibold mt-1">
              (Tokyo Institute of Technology)
            </h3>
            <p class="text-neutral-400 text-xl font-semibold mt-2">
              M.Eng. in Information and Communications Engineering
            </p>
          </div>
          <div class="w-[240px] flex justify-center">
            <img 
              src="/logos/ScienceTokyo.png" 
              alt="Tokyo Institute of Technology" 
              class="w-80 h-40 object-contain flex-shrink-0 mt-10"
            />
          </div>
        </div>

        <!-- Ritsumeikan -->
        <div class="flex items-center justify-start gap-30">
          <div class="w-[520px] text-center">
            <h3 class="text-neutral-100 text-2xl font-semibold mx-auto flex text-left">
              2021 - 2023
            </h3>
            <h3 class="text-neutral-100 text-3xl font-semibold mx-auto mt-3">
              Ritsumeikan University
            </h3>
            <p class="text-neutral-400 text-xl font-semibold mt-2">
              B.Eng. in Artificial and Natural Intelligence
            </p>
          </div>
          <div class="w-[240px] flex justify-center">
            <img 
              src="/logos/Ritsumei.png" 
              alt="Ritsumeikan University" 
              class="w-80 h-40 object-contain flex-shrink-0 mt-3"
            />
          </div>
        </div>

        <!-- DLUT -->
        <div class="flex items-center justify-start gap-30">
          <div class="w-[520px] text-center">
            <h3 class="text-neutral-100 text-2xl font-semibold mx-auto flex text-left">
              2021 - 2023
            </h3>          
            <h3 class="text-neutral-100 text-3xl font-semibold mt-3">
              Dalian University of Technology
            </h3>
            <p class="text-neutral-400 text-xl font-semibold mt-2">
              B.Eng. in Software Engineering
            </p>
          </div>
          <div class="w-[240px] flex justify-center">
            <img 
              src="/logos/DUT.png" 
              alt="Dalian University of Technology"                 class="w-45 h-45 object-contain flex-shrink-0 mt-3"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="mt-14">
      <h2 class="text-2xl font-medium text-neutral-100">Research Interests</h2>
      <p class="mt-4 text-neutral-300 leading-8 text-xl">
        EEG decoding, Visual perception, Color vision, Cognitive neuroscience, Computational analysis.
      </p>
    </section>

    <section class="mt-14">
      <h2 class="text-2xl font-medium text-neutral-100">Professional Interests</h2>
      <p class="mt-4 text-neutral-300 leading-8 text-xl">
        Applied technology, Solution Architecture, Data-driven problem solving, International technology consulting.
      </p>
    </section>

    <section class="mt-14">
      <h2 class="text-2xl font-medium text-neutral-100">Languages</h2>
      <p class="mt-4 text-neutral-300 leading-8 text-xl">
        Chinese (native), English, Japanese
      </p>
    </section>
  </main>
</BaseLayout>